.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.auth-card {
    width: 100%;
    max-width: 380px;
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

    .auth-card h2 {
        text-align: center;
        margin-bottom: 20px;
    }

.auth-footer {
    margin-top: 20px;
    text-align: center;
    font-size: .9rem;
}

    .auth-footer a {
        margin-left: 5px;
        font-weight: 600;
        text-decoration: none;
    }

.logo-login {
    display: block;
    margin: 0 auto 15px auto; 
    max-width: 200px;
    height: auto;
}


