.capa-wrapper {
    position: relative;
    width: 100%;
    max-height: 420px;
    overflow: hidden;
    border-radius: 18px;
    margin-bottom: 20px;
}

.img-capa {
    width: 100%;
    height: 420px;
    object-fit: cover;
    cursor: pointer;
    transition: transform .3s ease;
}

    .img-capa:hover {
        transform: scale(1.02);
    }

/* ===== OVERLAY ===== */
.overlay-capa {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.titulo-receita {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.autor-receita {
    font-size: 1rem;
    opacity: 0.9;
}

/* ===== MINI GALERIA ===== */
.mini-galeria {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
}

.img-mini {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    opacity: .8;
    transition: all .25s ease;
}

    .img-mini:hover {
        opacity: 1;
        transform: scale(1.08);
    }

/* ===== CONTEÚDO ===== */
.conteudo-receita {
    max-width: 900px;
    margin: auto;
    text-align: left;
     display: block;
}

    .conteudo-receita h3 {
        margin-top: 25px;
        font-weight: 600;
    }

/* ===== MODAL ===== */
.modal-foto {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

    .modal-foto img {
        max-width: 90%;
        max-height: 90%;
        border-radius: 12px;
    }

.info-receita {
    display: flex;
    justify-content: space-between;;
}

.texto-centralizado {
    text-align: center;
}