.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    border-bottom: 1px solid #eee;
    background: #fff;
}
.menu {
    max-width: 1200px;
    margin: auto;
    padding: 16px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

    .menu a {
        text-decoration: none;
        color: #8B4513;
        font-weight: 600;
        font-size: .95rem;
    }
    .menu a:hover {
        text-decoration: underline;
    }
        .menu a.ativo {
            color: #ff6a00;
            border-bottom: 2px solid #8B4513;
        }

.hero {
    text-align: center;
    padding: 80px 20px;
    background-image: url('/img/chefs2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 45px;
    
}

    .hero h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        color: white;
    }

    .hero p {
        color: #666;
        margin-bottom: 30px;
        color: white;
    }

.sugestoes span {
    border-radius: 50px;
    display: inline-block;
    background: #8B4513;
    color: white;
    padding: 8px 14px;
    margin: 5px;
    border-radius: 4px;
    font-size: 0.9rem;
}

.navbar-container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px 20px;
}

.logo-home img {
    height: 160px;
    width: auto
}

.mensagem-semreceitas {
    color: white;
    text-align: center;
    padding: 80px 20px
}

.bt-criar-receita {
    background: #ff6a00;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

    .bt-criar-receita:hover {
        background: #e85f00;
    }

