@page
@model IndexModel

<h1>Chef's Table</h1>

<p>Escolha o que deseja testar:</p>

<ul>
    <li>
        <a asp-page="/Receitas/Index">Gerenciar Receitas</a>
    </li>
    <li>
        <a asp-page="/Categorias/Index">Gerenciar Categorias</a>
    </li>
    <li>
        <a asp-page="/Usuarios/Index">Gerenciar Usuários</a>
    </li>
    <li>
        <a asp-page="/Comentarios/Index">Gerenciar Comentários</a>
    </li>
</ul>
